<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="app" class="container">
        <div v-if="!formSubmitted">
            <form @submit.prevent="submitForm">
                <h4>Registrate con nosotros</h4>
                <div class="form-gruop">
                    <label for="first_name">Nombre</label>
                    <input  v-model="first_name" type="text" id="first_name" class="form-control">
                </div>

                <div class="form-gruop">
                    <label for="last_name">Apellidos</label>
                    <input  v-model="last_name" type="text" id="last_name" class="form-control">
                </div>
                <div class="form-gruop">
                    <label for="last_name2">Apellidos 2</label>
                    <input  v-model="last_name2" type="text" id="last_name2" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary"  :disabled="!isFormValid()">Continuar</button><br>
            </form>
        </div>
        <div v-else>
            <h3>Bienvenido, {{ first_name }} {{ last_name }} {{ last_name2 }}</h3>
        </div>
        <footer>
            <p>@copy: 2022 JKSYSTEMAS</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
   <script>
    var app = new Vue ({
        el:"#app",
        data:{
            first_name:'',
            last_name:'',
            last_name2:'',
            formSubmitted : false
        },
        // valida si los datos no estan vacios
        methods: {
            isFormValid: function () {
                return this.first_name != "" && this.last_name != "" && this.last_name2 != ""
            },
            submitForm:function () {
                if(!this.isFormValid()) return; 

                this.formSubmitted = true;
            }
        },

    });
   </script>
      
 
  </body>
</html>