<!doctype html>
<html lang="en">
    <head>
        <title>v-for</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div class="container" id="app">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="jumbotron">DIRECTIVA V-FOR, V-IF
                    </h1>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" v-model="nuevaFruta" @keyup.enter="addFrut">
                    <br>

                    <button @click="addFrut" class="btn btn-primary">Agregar</button>
                </div>
                <div class="col-lg-12">
                    <p>Listado de productos</p>
                    <ul>
                        <li v-for="fruta of frutas" style="list-style: none ;">
                            <input type="number" class="form-control" v-model.number="fruta.cantidad">
                            
                            {{fruta.nombre}}
                            <button class="btn btn-warning" @click="fruta.cantidad++">ADD</button>
                            <span v-if="fruta.cantidad ===0">-Sin Stock</span>
                        </li>
                    </ul>
                    <h3>TOTAL: {{sumarFrutas}}</h3>

                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="../app.js"></script>

    </body>
</html>
